h1
{
	/*background: #00FFFF;*/
	font-family: 'Pacifico', cursive;
}

html
{
	font-family: 'Indie Flower', cursive;
	font-size: 110%;
}

/*@media all and (min-width: 400px)*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
	html
	{
		font-size: 80%;
	}
}

body
{
	padding: 0;
	margin: 0;
}

.main-header
{
	text-align: center;
	background-color: olive;
	color: white;
	padding: 4em;
}

	.main-header h1
	{
		margin: 0;
	}

	.main-header h2
	{
		font-size: 1rem;
		font-weight: normal;
	}

	@media all and (max-width: 400px)
	{
		.main-header
		{
			background-color: blue;
		}
	}

.card
{
	position: relative;
	height: 30vh;
	width: 100%;
	/*background-image: url(img/toluca-small.jpg); aqui iria uno 
	por defecto por si
	no se encuentra la imagen*/
	background-size: cover;
	color: white;
	padding: 4em;
}

	.card--toluca
	{
		background-image: url(img/toluca-small.jpg);
	}

	.card--otomi
	{
		background-image: url(img/otomi.jpg);
	}

	.card__title
	{
		margin: 0;
		text-align: center;
		font-size: 2rem;
	}

	.card__date
	{
		font-size: .7rem;
		margin: 0;
		text-align: center;
	}

	@media all and (min-width: 28rem)
	{
		.card
		{
			background-image: url(img/toluca.jpg);
			background-position: center;
		}
	}

	.card__info
	{
		position: absolute;
		bottom: .4em;
		left: .4em;
		background-color: red;
		text-align: center;
	}

	.card__image
	{
		display: block;
		text-align: center;
	}

	.card__temp
	{
		display: block;
		font-size: 3rem;
		line-height: 1;
	}

	.card__maxt::before
	{
		content: "Max: "
	}

	.card__mint::before
	{
		content: "Min: "
	}
